<header id="header-home" class="container container-fluid component-header">
  <div class="row">
    <div id="header-home-content" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

      <div id="header-home-logo" class="header-logo"><img src="/img/hero-empirejs.png" /></div>

      <h1>April 26th &amp; 27th</h1>

      <h2><i>Welcome to the city of dreamers, schemers, and some really rad JavaScript.</i></h2>

      <p>Hosted at The National Museum of the American Indian</p>

    </div>
  </div>
</header>

<section id="section-home-tickets" class="container full-width section section-event-info bg-white">

  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

      <div class="icon-container event-icon-container">
        <i class="icon-info"></i>
      </div>

      <h2>Buy Tickets</h2>
      <div class="divider-inner"></div>

      <tito-widget class="tito-widget" event="empirejs/empirejs-2015"></tito-widget>

    </div>

  </div>

</section>

<section id="section-subtle-highlight" class="container full-width section section-event-info bg-white">

  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

      <div class="icon-container event-icon-container">
        <i class="icon-info"></i>
      </div>

      <h2>This year, Empire is on Broadway!</h2>
      <div class="divider-inner"></div>

    </div>

  </div>

  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">

      <p>Every year the Empire team ramps up we try to highlight one of the things that makes New York City an amazing place to live, work, visit, and `git push origin master` in. Did you know there are over 10,000,000,000 historic theaters in New York City? Well ok, not really, but there are definitely a lot.</p>

      <p>So this year we are show casing the little language you know and love in a theater setting. We are have just secured our venue: the National Museum of the American Indian for April 26th and April 27th.</p>

      <hr />

      <p>We are an inclusive, kind community that is constantly growing. We ask that you <a href="http://jsconf.com/codeofconduct.html">'don't be a yutz'</a>, and try and make our fellow Empire friends feel welcome! Diversity of voices is important to our community, and we are serious when we say EVERYONE AND ANYONE should attend and participate.</p>

    </div>

    <div id="marquee-container" class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
      <img id="marquee" src="/img/js-marquee.png">
    </div>

  </div>

</section>

<section class="container container-fluid section section-event-map" data-id="venue">
  <div class="row">

    <div class="map-location-container">
      <div class="icon-container event-icon-container">
        <i class="icon-location"></i>
      </div>

      <h2>Venue</h2>
      <div class="divider-inner"></div>

      <h2>The National Museum of the American Indian</h2>

      <a class="map-new-tab" href="https://www.google.com/maps/place/The+National+Museum+of+the+American+Indian%E2%80%93New+York/@40.703996,-74.013732,17z/data=!3m2!4b1!5s0x89c25a13ea7afc1d:0xd1063be3fbc7ff76!4m2!3m1!1s0x89c25a13e8705e8d:0x7e39e77a139dd9ba" target="_blank">
        <span>1 Bowling Green<br />New York, NY 10004</span>
      </a>
    </div>

    <div class="map-container" data-maplat="40.703996" data-maplon="-74.013732" data-mapzoom="15" data-color="darkgray" data-height="550" data-img="/img/marker.png" data-info="The National Museum of the American Indian"></div>

    <div class="venue-photo"></div>
  </div>

</section>

<section class="container full-width section section-event-schedule bg-white" data-id="schedule">
  <div class="row">

    <div class="col-xs-12 col-md-12">
      <div class="icon-container event-icon-container">
        <i class="icon-calendar"></i>
      </div>

      <h2>Schedule</h2>
      <div class="divider-inner"></div>
    </div>

    <div class="col-xs-12 col-md-12 event-schedule-body">
      <p>Wander the beautiful museum during a break? Go for it. Looking for a little peace? Find our quiet lounge. Need a bit of broadway entertainment over lunch? Join us in the Dyker Auditorium. Want a little fresh air? Grab one of our delicious box lunches and have a picnic at the historic Battery park! Interact with our speaker experiments and enjoy our full day of one-of-a-kind presentations.<p>

      <p>A ticket to EmpireJS 2015 includes tasty beverages and overflowing coffee. Both days include a full breakfast and lunch with options for omnivores, vegetarians, and vegans. If you have any special dietaryneeds, please let us know, so we can accommodate you. We've got some big surprises in store for these two days so stay tuned for announcements as we get closer to the conference!</p>

      <ul class="event-schedule-list">

        <li class="event-schedule-item event-schedule-header">
          <span class="event-schedule-dot dot-dark"></span>
          <div class="event-schedule-header-content">
            <span class="event-schedule-title">Saturday, April 25th</span>
            <h4 class="event-schedule-subtitle">THE NIGHT BEFORE</h4>
          </div>
        </li>

        <li class="event-schedule-item">
          <span class="event-schedule-dot"></span>
          <span class="event-schedule-item-time">8:00PM - 12:00AM</span>
          <h4 class="event-schedule-item-title">Opening Party at Barcade</h4>
          <p class="event-schedule-panel-desc">On Saturday, April 25th, we'll be meeting up for an informal evening of arcade games, meeting new friends, and grabbing a drink. Quarters on us at Barcade!</p>
        </li>

        <li class="event-schedule-item event-schedule-header">
          <span class="event-schedule-dot dot-dark"></span>
          <div class="event-schedule-header-content">
            <span class="event-schedule-title">Sunday, April 26th</span>
            <h4 class="event-schedule-subtitle">THE CONFERENCE (DAY 1)</h4>
          </div>
        </li>

        <li class="event-schedule-item">
          <span class="event-schedule-dot"></span>
          <span class="event-schedule-item-time">8:00 - 9:00 AM</span>
          <h4 class="event-schedule-item-title">Breakfast</h4>
          <p class="event-schedule-panel-desc">Registration opens</p>
        </li>

        <li class="event-schedule-item">
          <span class="event-schedule-dot"></span>
          <span class="event-schedule-item-time">9:00 - 9:15 AM</span>
          <h4 class="event-schedule-item-title">Welcome to EmpireJS 2015</h4>
        </li>

        <li class="event-schedule-item">
          <span class="event-schedule-dot"></span>
          <span class="event-schedule-item-time">9:15 AM - 11:20 AM</span>
          <h4 class="event-schedule-item-title">Talks!</h4>

          <h6 class="event-schedule-speaker">Rudy Jahchan <span class="event-schedule-speaker-talk">Getting Started in VR with JS (art, vr, physical)</span></h6>
          <h6 class="event-schedule-speaker">Jonathan Kuperman <span class="event-schedule-speaker-talk">Inclusive Web: Getting started with Accessibility (everyday, accessability)</span></h6>
          <h6 class="event-schedule-speaker">Paul Taylor <span class="event-schedule-speaker-talk">Falcor: Reactive REST at Netflix (framework)</span></h6>

        </li>
        <li class="event-schedule-item">
          <span class="event-schedule-dot"></span>
          <span class="event-schedule-item-time">11:00 AM - 11:20 AM</span>
          <h4 class="event-schedule-item-title">Coffee &amp; Snacks</h4>
        </li>

        <li class="event-schedule-item">
          <span class="event-schedule-dot"></span>
          <span class="event-schedule-item-time">11:20 AM - 12:30 PM</span>
          <h4 class="event-schedule-item-title">More talks!</h4>
          <h6 class="event-schedule-speaker">Nick Hehr <span class="event-schedule-speaker-talk">The Other Side of Empathy (not-as-technical)</span></h6>
          <h6 class="event-schedule-speaker">Karen Peng <span class="event-schedule-speaker-talk">Demo(interesting ways to explore computational concepts)</span></h6>
          <h6 class="event-schedule-speaker">Kelly King <span class="event-schedule-speaker-talk">Experimentation, Tone and Emotional Design (tooling, ab, design)</span></h6>
        </li>

        <li class="event-schedule-item">
          <span class="event-schedule-dot"></span>
          <span class="event-schedule-item-time">12:30 PM - 1:45 PM</span>
          <h4 class="event-schedule-item-title">Lunch time <em>(and entertainment!)</em></h4>
        </li>

        <li class="event-schedule-item">
          <span class="event-schedule-dot"></span>
          <span class="event-schedule-item-time">1:45 PM - 3:40 PM</span>
          <h4 class="event-schedule-item-title">Even more amazing talks!</h4>

          <h6 class="event-schedule-speaker">Andrew Rota <span class="event-schedule-speaker-talk">Why Static Type Checking is Better (next level js, type system)</span></h6>
          <h6 class="event-schedule-speaker">Tim Holman <span class="event-schedule-speaker-talk">Fun with JS (art, creative)</span></h6>
          <h6 class="event-schedule-speaker">Kevin Greer <span class="event-schedule-speaker-talk">Introducing FOAM (framework)</span></h6>

        </li>
        <li class="event-schedule-item">
          <span class="event-schedule-dot"></span>
          <span class="event-schedule-item-time">3:40 PM - 4:00 PM</span>
          <h4 class="event-schedule-item-title">Snacks Break</h4>

        </li>
        <li class="event-schedule-item">
          <span class="event-schedule-dot"></span>
          <span class="event-schedule-item-time">4:00 PM - 6:00PM</span>
          <h4 class="event-schedule-item-title">Last round of talks for the day!</h4>

          <h6 class="event-schedule-speaker">Sequoia McDowell <span class="event-schedule-speaker-talk">Building shell tools in javascript (tooling)</span></h6>
          <h6 class="event-schedule-speaker">Jenna Zeigen <span class="event-schedule-speaker-talk">The Linguistic Relativity of Programming Languages (syntax, lingustics)</span></h6>
          <h6 class="event-schedule-speaker">Rob Ellis <span class="event-schedule-speaker-talk">SuperScript (syntax, lingustics)</span></h6>
        </li>

        <li class="event-schedule-item">
          <span class="event-schedule-dot"></span>
          <span class="event-schedule-item-time">6:00 PM - 11:00 PM</span>
          <h4 class="event-schedule-item-title">StatenIslandJS Take-over!</h4>
          <div class="event-schedule-caption">
            <p>The NMAI is located directly next to the South Ferry terminal, the most luxurious way to travel around the fair island of Manhattan. Well if luxury is defined as the only free ferry in the tri-state area. So we figured: <em>Why not maximize the most under appreciated borough in New York City?!?</em></p>

            <p>
              <em>... that's right!</em> <strong>We're going to Staten Island!</strong> JavaScript straight from the Slums of Shaolin.
            </p>

            <p><a href="http://www.siferry.com/schedules.html">According to the schedule</a> the ferry departs every half hour after day one ends. Our destination is just a short walk from where the ferry drops off. So take a boat ride with us and enjoy an evening of food, drinks, games, and whatever our mysterious friends at <a href="https://twitter.com/statenisland_js">StatenIslandJS</a> may have up their sleeves! <em>Did we mention there's a killer view of the Statue of Liberty on the way?</em> There is!</p>
          </div>

          <div class="event-schedule-sidebar">
            <img class="statenislandjs" src="/img/statenislandjs.png" />
          </div>

        </li>

        <li class="event-schedule-item event-schedule-header">
          <span class="event-schedule-dot dot-dark"></span>
          <div class="event-schedule-header-content">
            <span class="event-schedule-title">Monday, April 27th</span>
            <h4 class="event-schedule-subtitle">THE CONFERENCE (DAY 2)</h4>
          </div>
        </li>

        <li class="event-schedule-item">
          <span class="event-schedule-dot"></span>
          <span class="event-schedule-item-time">8:00 - 9:00 AM</span>
          <h4 class="event-schedule-item-title">Breakfast</h4>
          <h6 class="event-schedule-speaker">Registration <span class="event-schedule-speaker-talk">continues</span></h6>
        </li>

        <li class="event-schedule-item">
          <span class="event-schedule-dot"></span>
          <span class="event-schedule-item-time">9:00 AM - 11:20 AM</span>
          <h4 class="event-schedule-item-title">Talks!</h4>

          <h6 class="event-schedule-speaker">Soledad Penadés <span class="event-schedule-speaker-talk">Web components and experimental mobile UI audio+p2p wifi+whatnot (next level js)</span></h6>
          <h6 class="event-schedule-speaker">Mariko Kosaka <span class="event-schedule-speaker-talk">Knitting explained in JavaScript &amp; Using Javascript for your knitting project (art, phycial, hardware)</span></h6>
          <h6 class="event-schedule-speaker">Matthew Conlen <span class="event-schedule-speaker-talk">Data visualization with Node.js and Lightning (3d, data vis)</span></h6>

        </li>
        <li class="event-schedule-item">
          <span class="event-schedule-dot"></span>
          <span class="event-schedule-item-time">11:00 AM - 11:20 AM</span>
          <h4 class="event-schedule-item-title">Coffee &amp; Snacks</h4>
        </li>

        <li class="event-schedule-item">
          <span class="event-schedule-dot"></span>
          <span class="event-schedule-item-time">11:20 AM - 12:30 PM</span>
          <h4 class="event-schedule-item-title">More talks!</h4>
          <h6 class="event-schedule-speaker">Eric Shepherd <span class="event-schedule-speaker-talk">Make Friends with Marketing: Safely Implementing a Container Tag (everyday)</span></h6>
          <h6 class="event-schedule-speaker">K. Adam White <span class="event-schedule-speaker-talk">Side Projects! Front and Center (not-as-technical)</span></h6>
          <h6 class="event-schedule-speaker">Mark Wunsch <span class="event-schedule-speaker-talk">The Giving Tree (everyday, browser, DOM)</span></h6>
        </li>

        <li class="event-schedule-item">
          <span class="event-schedule-dot"></span>
          <span class="event-schedule-item-time">12:30 PM - 1:45 PM</span>
          <h4 class="event-schedule-item-title">Lunch time <em>(and more entertainment!)</em></h4>
        </li>

        <li class="event-schedule-item">
          <span class="event-schedule-dot"></span>
          <span class="event-schedule-item-time">1:45 PM - 3:40 PM</span>
          <h4 class="event-schedule-item-title">Even more amazing talks!</h4>

          <h6 class="event-schedule-speaker">Ian Webster <span class="event-schedule-speaker-talk">Hacking Space with Javascript and WebGL (3d, space, physical)</span></h6>
          <h6 class="event-schedule-speaker">Jordan Kasper <span class="event-schedule-speaker-talk">Generating a New Async (next level js)</span></h6>
          <h6 class="event-schedule-speaker">Varya Stepanova <span class="event-schedule-speaker-talk">Automating Style Guide Driven Development (tooling, design)</span></h6>

        </li>
        <li class="event-schedule-item">
          <span class="event-schedule-dot"></span>
          <span class="event-schedule-item-time">3:40 PM - 4:00 PM</span>
          <h4 class="event-schedule-item-title">Snacks Break</h4>

        </li>
        <li class="event-schedule-item">
          <span class="event-schedule-dot"></span>
          <span class="event-schedule-item-time">4:00 PM - 6:00PM</span>
          <h4 class="event-schedule-item-title">Last round of talks!</h4>

          <h6 class="event-schedule-speaker">Tara Feener <span class="event-schedule-speaker-talk">ReactJS: Let's get expressive (framework)</span></h6>
          <h6 class="event-schedule-speaker">Ben Purdy &amp; John Brown <span class="event-schedule-speaker-talk">State of the Art - Interactive Physical Installations Powered by JavaScript (art, physical)</span></h6>

        </li>

        <li class="event-schedule-item">
          <span class="event-schedule-dot"></span>
          <span class="event-schedule-item-time">5:45 PM</span>
          <h4 class="event-schedule-item-title">EmpireJS family photo</h4>
          <h6 class="event-schedule-speaker">with (friends) { <span class="event-schedule-speaker-talk">Memories.create()</span> }</h6>
        </li>

        <li class="event-schedule-item">
          <span class="event-schedule-dot"></span>
          <span class="event-schedule-item-time">6:00 PM - 11:00 PM</span>
          <h4 class="event-schedule-item-title">
            Closing Party on historic Stone Street
          </h4>
          <p>Food, drinks, good music, and goodbyes to new friends while chatting about all things JavaScript</p>
        </li>


        <li class="event-schedule-item">
          <span class="event-schedule-dot"></span>
        </li>
      </ul>

    </div>

  </div>
</section>

<section id="section-speakers" class="container container-fluid section" data-id="speakers">

  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

      <div class="icon-container event-icon-container">
        <i class="icon-group"></i>
      </div>

      <h2>Speakers</h2>
      <div class="divider-inner"></div>

      <ul id="speaker-list">
        {{{speaker 'Andrew Rota' 'Why Static Type Checking is Better' 'Andrew_Rota.jpeg' 'andrewrota'}}}
        {{{speaker 'Ben Purdy' 'State of the Art - Interactive Physical Installations Powered by JavaScript' 'Ben_Purdy.jpeg' 'purdybot'}}}
        {{{speaker 'Eric Shepherd' 'Make Friends with Marketing: Safely Implementing a Container Tag' 'Eric_Shepherd.jpeg' 'arkitrave'}}}
        {{{speaker 'Ian Webster' 'Hacking Space with Javascript and WebGL' 'Ian_Webster.jpg' 'iwebst'}}}
        {{{speaker 'Jenna Zeigen' 'The Linguistic Relativity of Programming Languages' 'Jenna_Zeigen.jpeg' 'zeigenvector'}}}
        {{{speaker 'John Brown' 'State of the Art - Interactive Physical Installations Powered by JavaScript' 'John_Brown.jpeg' 'thisisjohnbrown'}}}
        {{{speaker 'Jon Kuperman' 'Inclusive Web: Getting started with Accessibility' 'Jon_Kuperman.jpeg' 'jkup'}}}
        {{{speaker 'Jordan Kasper' 'Generating a New Async' 'Jordan_Kasper.jpg' 'jakerella'}}}
        {{{speaker 'Paul Taylor' 'Falcor: Reactive REST at Netflix' 'Paul_Taylor.jpeg' 'trxcllnt'}}}
        {{{speaker 'K Adam White' 'Side Projects, Front & Center' 'K_Adam_White.jpeg' 'kadamwhite'}}}
        {{{speaker 'Karen Peng' 'DeMo-interesting ways to explore computational concepts' 'Karen_Peng.jpeg' 'KarenPunkPunk'}}}
        {{{speaker 'Kelly King' 'Experimentation, Tone and Emotional Design' 'Kelly_King.jpeg' 'kng'}}}
        {{{speaker 'Kevin Greer' 'Introducing FOAM' 'Kevin_Greer.png' ''}}}
        {{{speaker 'Mariko Kosamari' ' Needle in a Techstack' 'Mariko_Kosamari.jpeg' 'kosamari'}}}
        {{{speaker 'Mark Wunsch' 'The Giving Tree' 'Mark_Wunsch.jpeg' 'markwunsch'}}}
        {{{speaker 'Matthew Conlen' 'Data Visualization with Node.js and Lightning' 'Matthew_Conlen.png' 'mathisonian'}}}
        {{{speaker 'Nick Hehr' 'The Other Side of Empathy' 'Nick_Hehr.jpg' 'hipsterbrown'}}}
        {{{speaker 'Rob Ellis' 'SuperScript' 'Rob_Ellis.jpeg' 'rob_ellis'}}}
        {{{speaker 'Rudy Jahchan' 'Getting Started in VR with JS' 'Rudy_Jahchan.jpeg' 'rudy'}}}
        {{{speaker 'Sequoia McDowell' 'Building Shell Tools in JavaScript' 'Sequoia_McDowell.jpeg' '_sequoia'}}}
        {{{speaker 'Soledad Penades' 'The Disconnected Ensemble: a Prelude' 'Soledad_Penades.jpeg' 'supersole'}}}
        {{{speaker 'Tara Feener' 'ReactJS: Let\'s Get Expressive' 'Tara_Feener.jpg' 'tfeener'}}}
        {{{speaker 'Tim Holman' 'Fun.js' 'Tim_Holman.jpeg' 'twholman'}}}
        {{{speaker 'Varya Stepanova' 'Driving the Style-Guide-Driven Development' 'Varya_Stepanova.jpg' 'varya_en'}}}
      </ul>

    </div>

  </div>

</section>

<section id="section-emcees" class="container section" data-id="love">

  <div class="row">
    <div id="emcees-container" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

      <div class="icon-container event-icon-container">
        <i class="icon-love"></i>
      </div>

      <h2>Emcees</h2>
      <div class="divider-inner"></div>

      <ul id="speaker-list">
        {{{emcee 'Zahra Jabini' 'zahra.jpeg' 'zeejab'}}}
        {{{emcee 'Rushaine McBean' 'rushaine.jpeg' 'copascetickid'}}}
        {{{emcee 'Adam Sontag' 'sontag.jpeg' 'ajpiano'}}}
      </ul>

    </div>

  </div>

</section>

<section id="section-hotel" class="container section section-event-info bg-white" data-id="hotel">

  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

      <div class="icon-container event-icon-container">
        <i class="icon-info"></i>
      </div>

      <h2>Hotel</h2>
      <div class="divider-inner"></div>

    </div>

    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">

      <p>We're excited to announce a great lodging partner in spitting distance of our beautiful venue--DoubleTree on Stone Street. Stay alongside our traveling speakers and take advantage now to get the EmpireJS discount rate with group code: MXL.</p>

      <p>
      DoubleTree by Hilton<br />
      Financial District<br />
      8 Stone Street, New York, NY<br />
      1(212) 480-9100
      </p>

    </div>

    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">

      <img src="/img/doubletree.gif" />

    </div>

  </div>

</section>

<section id="section-sponsors" class="container container-fluid section section-event-info bg-white" data-id="sponsors">
  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

      <div class="icon-container event-icon-container">
        <i class="icon-group"></i>
      </div>

      <h2>Sponsors</h2>
      <div class="divider-inner"></div>

      <p>EmpireJS couldn't be possible with the support of our fantastic sponsors.</p>

    </div>

  </div>

  <div class="row">

    <div id="sponsor-list">
      <div class="sponsor-section platinum">
        <a href="https://www.tumblr.com/jobs" target="_blank">
          <img src="/img/sponsors/tumblr.png" width="400" />
        </a>
      </div>

      <div class="sponsor-section gold">
        <a href="http://www.bloomberglabs.com" target="_blank">
          <img src="/img/sponsors/bloomberg.png" width="350" />
        </a>
        <a href="http://saucelabs.com/" target="_blank">
          <img width="250" src="img/sponsors/saucelabs.png" alt />
        </a>
        <a href="http://lab49.com" target="_blank">
          <img src="/img/sponsors/lab49.png" width="300" />
        </a>
        <a href="http://github.com/godaddy" target="_blank">
          <img src="/img/sponsors/godaddy.png" width="300" />
        </a>
        <a href="http://yld.io" target="_blank">
          <img src="/img/sponsors/yld.png" width="131" />
        </a>
      </div>

      <div class="sponsor-section silver">
        <a href="http://condenast.com" target="_blank">
          <img src="/img/sponsors/condenast.png" width="260" />
        </a>
        <a href="http://etsy.com" target="_blank">
          <img src="/img/sponsors/etsy.png" width="150" />
        </a>
        <a href="http://strongloop.com" target="_blank">
          <img src="/img/sponsors/strongloop.png" width="260" />
        </a>
        <a href="http://groupon.com" target="_blank">
          <img src="/img/sponsors/groupon.png" width="260" />
        </a>
      </div>

      <div class="sponsor-section startup">
        <a href="http://www.carbonfive.com" target="_blank">
          <img src="/img/sponsors/carbon-five.png" />
        </a>
        <a href="http://bocoup.com" target="_blank">
          <img src="/img/sponsors/bocoup.png" />
        </a>
        <a href="http://www.netflix.com" target="_blank">
          <img src="/img/sponsors/netflix.png" />
        </a>
        <a href="https://www.mozilla.org/firefox" target="_blank">
          <img src="/img/sponsors/firefox.png" />
        </a>
        <a href="https://google.com" target="_blank">
          <img src="/img/sponsors/google.png" />
        </a>
        <a href="http://201-created.com" target="_blank">
          <img src="/img/sponsors/201-created.png" />
        </a>
        <a href="http://www.npnd.com/" target="_blank">
          <img src="/img/sponsors/npnd.png" />
        </a>
        <a href="http://twilio.com" target="_blank">
          <img src="/img/sponsors/twilio.png" />
        </a>
        <a href="http://work-bench.com/" target="_blank">
          <img src="/img/sponsors/work-bench.png" />
        </a>
      </div>
    </div>

  </div>
</section>

<section id="section-scholarship" class="container container-fluid section" data-id="scholarship">

  <div class="row">

    <div class="col-md-2 col-lg-2 col-xl-2"></div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">

      <div class="icon-container event-icon-container">
        <i class="icon-info"></i>
      </div>

      <h2>EmpireJS 2015 Scholarship</h2>
      <div class="divider-inner"></div>

      <p>EmpireJS exists to educate and grow the Javascript community in New York City. We are excited to announce that we will be granting scholarships for our upcoming conference. We are constantly seeking new ways to make our community broader and more inclusive. What is building diversity to us? Encouraging community members from any underrepresented group in tech to attend and participate. This scholarship is open to anyone who will be in New York City on April 25th and April 26th. This is a community run event; we hope in the future we are able to provide travel and lodging, but cannot do so as part of this initiative.</p>

      <p>We hope this scholarship program can enable you to join us and contribute to our community!</p>

      <h3>Sponsor a scholarship</h3>

      <p>We’d love to be able to provide as many scholarships as possible, and we need your help! If you’re a company interested in sponsoring a scholarship, get in touch with us! Each $1000 sponsor scholarship sends 3 recipients at-cost to EmpireJS. Please contact <a href="mailto:us@empirejs.org">us@empirejs.org</a> for further details.</p>

      <h3>Diversity Enthusiast Ticket</h3>

      <p>Are you an individual wanting to help shape the future of JavaScript through a more diverse crowd? We invite you to become a Diversity Enthusiast. The purchase of this ticket ($600 USD) gets you:</p>
      <ul>
        <li>1 EmpireJS ticket for you</li>
        <li>1 EmpireJS ticket for someone in the community who couldn’t afford to come selected via our scholarship application</li>
      </ul>

      <h3>How to apply to receive a scholarship</h3>

      <p>To apply for a scholarship, fill out <a href="https://docs.google.com/forms/d/1kvTK_5h54ikTuC6pq9p7FwoHEDZo9V84QbxyLg5ecOU/viewform?usp=send_form" target="_blank">THIS FORM</a> and tell us about yourself! Are you an organization brimming with people who should be attending our conference but can’t swing the cost? Encourage folks to apply! The application deadline is April 1st. We will notify recipients by April 5th, and the remaining applicants will remain on a waiting list in case we are able to offer more from generous giving. If you have any questions, you can also contact us at <a href="mailto:us@empirejs.org">us@empirejs.org</a>.</p>

    </div>

  </div>

</section>

<section id="section-organizers" class="container section" data-id="love">

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

      <div class="icon-container event-icon-container">
        <i class="icon-love"></i>
      </div>

      <h2>Made with ♥ in NYC, for NYC</h2>
      <div class="divider-inner"></div>

      <p>We are members of the New York City Javascript Community. We love Javascript and organize EmpireJS as volunteers with the goal of growing and educating the tech community in the greater New York area.</p>

      <div class="divider-inner"></div>

      <ul id="speaker-list">
        {{{organizer 'Charlie Robbins' 'charlie_robbins.jpg' 'indexzero'}}}
        {{{organizer 'Tracy Hinds' 'tracy_hinds.jpeg' 'hackygolucky'}}}
        {{{organizer 'Chris Abrams' 'chris_abrams.jpg' '_chrisabrams_'}}}
        {{{organizer 'Catherine Lopez' 'catherine_lopez.jpg' 'lopezcatherine'}}}
        {{{organizer 'Thomas Reggi' 'thomas_reggi.jpg' 'thomasreggi'}}}
      </ul>

    </div>

  </div>

</section>
