<section id="section-speakers" class="container section">

  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

      <div class="icon-container event-icon-container">
        <i class="icon-info"></i>
      </div>

      <h2>Speakers</h2>
      <div class="divider-inner"></div>

      <ul id="speaker-list">
        {{{speaker 'Andrew Rota' 'Javascript Engineer at Wayfair' 'Andrew_Rota.jpeg' 'andrewrota'}}}
        {{{speaker 'Ben Purdy' '' 'Ben_Purdy.jpeg' ''}}}
        {{{speaker 'Eric Shepherd' '' 'Eric_Shepherd.jpeg' ''}}}
        {{{speaker 'Ian Webster' '' 'Ian_Webster.jpg' ''}}}
        {{{speaker 'Jenna Zeigen' '' 'Jenna_Zeigen.jpeg' ''}}}
        {{{speaker 'John Brown' '' 'John_Brown.jpeg' ''}}}
        {{{speaker 'Jon Kuperman' '' 'Jon_Kuperman.jpeg' ''}}}
        {{{speaker 'Jordan Kasper' '' 'Jordan_Kasper.jpg' ''}}}
        {{!speaker 'Julian Duque' '' 'Julian_Duque.jpeg' ''}}
        {{{speaker 'K Adam White' '' 'K_Adam_White.jpeg' ''}}}
        {{{speaker 'Karen Peng' '' 'Karen_Peng.jpeg' ''}}}
        {{{speaker 'Kelly King' '' 'Kelly_King.jpeg' ''}}}
        {{{speaker 'Kevin Greer' '' 'Kevin_Greer.png' ''}}}
        {{{speaker 'Mariko Kosamari' '' 'Mariko_Kosamari.jpeg' ''}}}
        {{{speaker 'Mark Wunsch' '' 'Mark_Wunsch.jpeg' ''}}}
        {{{speaker 'Matthew Conlen' '' 'Matthew_Conlen.png' ''}}}
        {{{speaker 'Nick Hehr' '' 'Nick_Hehr.jpg' ''}}}
        {{{speaker 'Rob Ellis' '' 'Rob_Ellis.jpeg' ''}}}
        {{{speaker 'Rudy Jahchan' '' 'Rudy_Jahchan.jpeg' ''}}}
        {{{speaker 'Sequoia McDowell' '' 'Sequoia_McDowell.jpeg' ''}}}
        {{{speaker 'Soledad Penades' '' 'Soledad_Penades.jpeg' ''}}}
        {{{speaker 'Tara Feener' '' 'Tara_Feener.jpg' ''}}}
        {{{speaker 'Tim Holman' '' 'Tim_Holman.jpeg' ''}}}
        {{{speaker 'Tomomi Imura' '' 'Tomomi_Imura.jpeg' ''}}}
        {{{speaker 'Varya Stepanova' '' 'Varya_Stepanova.jpg' ''}}}
      </ul>

    </div>

  </div>

</section>
