<section id="section-speakers" class="container section">

  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

      <div class="icon-container event-icon-container">
        <i class="icon-info"></i>
      </div>

      <h2>Speakers</h2>
      <div class="divider-inner"></div>

      <ul id="speaker-list">
        {{{speaker 'Andrew Rota' 'Why Static Type Checking is Better' 'Andrew_Rota.jpeg' 'andrewrota'}}}
        {{{speaker 'Ben Purdy' 'State of the Art - Interactive Physical Installations Powered by JavaScript' 'Ben_Purdy.jpeg' ''}}}
        {{{speaker 'Eric Shepherd' 'Make Friends with Marketing: Safely Implementing a Container Tag' 'Eric_Shepherd.jpeg' ''}}}
        {{{speaker 'Ian Webster' 'Hacking Space with Javascript and WebGL' 'Ian_Webster.jpg' ''}}}
        {{{speaker 'Jenna Zeigen' 'The Linguistic Relativity of Programming Languages' 'Jenna_Zeigen.jpeg' ''}}}
        {{{speaker 'John Brown' 'State of the Art - Interactive Physical Installations Powered by JavaScript' 'John_Brown.jpeg' ''}}}
        {{{speaker 'Jon Kuperman' 'Inclusive Web: Getting started with Accessibility' 'Jon_Kuperman.jpeg' ''}}}
        {{{speaker 'Jordan Kasper' 'Generating a New Async' 'Jordan_Kasper.jpg' ''}}}
        {{!speaker 'Paul Taylor' 'Falcor: Reactive REST at Netflix' 'Paul_Taylor.jpeg' ''}}
        {{{speaker 'K Adam White' 'Side Projects, Front & Center' 'K_Adam_White.jpeg' ''}}}
        {{{speaker 'Karen Peng' 'DeMo-a series of web based projects exploring HCI' 'Karen_Peng.jpeg' ''}}}
        {{{speaker 'Kelly King' 'Experimentation, Tone and Emotional Design' 'Kelly_King.jpeg' ''}}}
        {{{speaker 'Kevin Greer' 'Introducing FOAM' 'Kevin_Greer.png' ''}}}
        {{{speaker 'Mariko Kosamari' ' Needle in a Techstack' 'Mariko_Kosamari.jpeg' ''}}}
        {{{speaker 'Mark Wunsch' 'The Giving Tree' 'Mark_Wunsch.jpeg' ''}}}
        {{{speaker 'Matthew Conlen' 'Data Visualization with Node.js and Lightning' 'Matthew_Conlen.png' ''}}}
        {{{speaker 'Nick Hehr' 'The Other Side of Empathy' 'Nick_Hehr.jpg' ''}}}
        {{{speaker 'Rob Ellis' 'SuperScript' 'Rob_Ellis.jpeg' ''}}}
        {{{speaker 'Rudy Jahchan' 'Getting Started in VR with JS' 'Rudy_Jahchan.jpeg' ''}}}
        {{{speaker 'Sequoia McDowell' 'Building Shell Tools in JavaScript' 'Sequoia_McDowell.jpeg' ''}}}
        {{{speaker 'Soledad Penades' 'The Disconnected Ensemble: a Prelude' 'Soledad_Penades.jpeg' ''}}}
        {{{speaker 'Tara Feener' 'ReactJS: Let\'s Get Expressive' 'Tara_Feener.jpg' ''}}}
        {{{speaker 'Tim Holman' 'Fun.js' 'Tim_Holman.jpeg' ''}}}
        {{{speaker 'Tomomi Imura' 'Dominating the Shadow DOM' 'Tomomi_Imura.jpeg' ''}}}
        {{{speaker 'Varya Stepanova' 'Driving the Style-Guide-Driven Development' 'Varya_Stepanova.jpg' ''}}}
      </ul>

    </div>

  </div>

</section>
