<section id="section-speakers" class="container section">

  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

      <div class="icon-container event-icon-container">
        <i class="icon-info"></i>
      </div>

      <h2>Speakers</h2>
      <div class="divider-inner"></div>

      <ul id="speaker-list">
        {{{speaker 'Andrew Rota' 'Javascript Engineer at Wayfair' 'Andrew_Rota.jpeg' 'andrewrota'}}}
        {{{speaker 'Andrew Rota' 'Javascript Engineer at Wayfair' 'Andrew_Rota.jpeg' 'andrewrota'}}}
        {{{speaker 'Andrew Rota' 'Javascript Engineer at Wayfair' 'Andrew_Rota.jpeg' 'andrewrota'}}}
        {{{speaker 'Andrew Rota' 'Javascript Engineer at Wayfair' 'Andrew_Rota.jpeg' 'andrewrota'}}}
        {{{speaker 'Andrew Rota' 'Javascript Engineer at Wayfair' 'Andrew_Rota.jpeg' 'andrewrota'}}}
        {{{speaker 'Andrew Rota' 'Javascript Engineer at Wayfair' 'Andrew_Rota.jpeg' 'andrewrota'}}}
        {{{speaker 'Andrew Rota' 'Javascript Engineer at Wayfair' 'Andrew_Rota.jpeg' 'andrewrota'}}}
        {{{speaker 'Andrew Rota' 'Javascript Engineer at Wayfair' 'Andrew_Rota.jpeg' 'andrewrota'}}}
        {{{speaker 'Andrew Rota' 'Javascript Engineer at Wayfair' 'Andrew_Rota.jpeg' 'andrewrota'}}}
        {{{speaker 'Andrew Rota' 'Javascript Engineer at Wayfair' 'Andrew_Rota.jpeg' 'andrewrota'}}}
        {{{speaker 'Andrew Rota' 'Javascript Engineer at Wayfair' 'Andrew_Rota.jpeg' 'andrewrota'}}}
        {{{speaker 'Andrew Rota' 'Javascript Engineer at Wayfair' 'Andrew_Rota.jpeg' 'andrewrota'}}}
        {{{speaker 'Andrew Rota' 'Javascript Engineer at Wayfair' 'Andrew_Rota.jpeg' 'andrewrota'}}}
        {{{speaker 'Andrew Rota' 'Javascript Engineer at Wayfair' 'Andrew_Rota.jpeg' 'andrewrota'}}}
        {{{speaker 'Andrew Rota' 'Javascript Engineer at Wayfair' 'Andrew_Rota.jpeg' 'andrewrota'}}}
        {{{speaker 'Andrew Rota' 'Javascript Engineer at Wayfair' 'Andrew_Rota.jpeg' 'andrewrota'}}}
        {{{speaker 'Andrew Rota' 'Javascript Engineer at Wayfair' 'Andrew_Rota.jpeg' 'andrewrota'}}}
        {{{speaker 'Andrew Rota' 'Javascript Engineer at Wayfair' 'Andrew_Rota.jpeg' 'andrewrota'}}}
        {{{speaker 'Andrew Rota' 'Javascript Engineer at Wayfair' 'Andrew_Rota.jpeg' 'andrewrota'}}}
      </ul>

    </div>

  </div>

</section>
